agentscope==2.0.5
agentscope-runtime==1.1.5
fastapi
uvicorn[standard]
pydantic
PyYAML
psutil
requests
aioitertools
anthropic
dashscope
docstring_parser
json5
json_repair
mcp>=1.13
numpy
openai
python-datauri
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
python-socketio
shortuuid
tiktoken
sounddevice

